*{
    max-width: 1200px;
    /* padding: 30px;
    margin: 50px;
} */


.parent-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.header{
        display: flex;
    align-items: center;
    justify-content: space-between;
}
.common-btn{
    background-color: aqua;
    
}